html, body {
  margin: 0;
  padding: 0;
}

nav {
  z-index: 99;
}

.wrapper-container {
  height: 100vh;
}

.wrapper-container, .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spinner {
  /* display: flex; */
  display: none;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: wait;
}

.content {
  /* display: none; */
  flex-direction: column;
}

.main, .content {
  flex: 1 1 auto;
}